---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const{title = "", description = ""}=Astro.props
---

<Layout {title} {description}>
	<main>
		
	</main>
</Layout>